* {
 box-sizing: border-box;
}
body {
 margin: 0;
}
.clearfix {
 clear:both;
}
.header-banner {
 padding-top:35px;
 padding-bottom:100px;
 color:#ffffff;
 font-family:Helvetica, serif;
 font-weight:100;
 background-attachment:scroll, scroll;
 background-position:left top, center center;
 background-repeat:repeat-y, no-repeat;
 background-size:contain, cover;
}
.container-width {
 width:90%;
 max-width:1150px;
 margin:0 auto;
}
.logo {
 background-color:#fff;
 border-radius:5px;
 width:130px;
 padding:10px;
 min-height:30px;
 text-align:center;
 line-height:30px;
 color:#4d114f;
 font-size:23px;
}
.flex-sect {
 background-color:#fafafa;
 padding:100px 0;
 font-family:Helvetica, serif;
}
.flex-title {
 margin-bottom:15px;
 font-size:2em;
 text-align:center;
 font-weight:700;
 color:#555;
 padding:5px;
}
.cards {
 padding:20px 0;
 display:flex;
 justify-content:space-around;
 flex-flow:wrap;
}
.card {
 background-color:white;
 height:300px;
 width:300px;
 margin-bottom:30px;
 box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2);
 border-radius:2px;
 transition:all 0.5s ease;
 font-weight:100;
 overflow:hidden;
}
.card:hover {
 margin-top:-5px;
 box-shadow:0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
 height:155px;
 background-size:cover;
 background-position:center center;
}
.card-header.ch2 {
}
.card-header.ch3 {
}
.card-header.ch4 {
}
.card-header.ch5 {
}
.card-header.ch6 {
}
.card-body {
 padding:15px 15px 5px 15px;
 color:#555;
}
.card-title {
 font-size:1.4em;
 margin-bottom:5px;
}
.card-sub-title {
 color:#b3b3b3;
 font-size:1em;
 margin-bottom:15px;
}
.card-desc {
 font-size:0.85rem;
 line-height:17px;
}
.made-with {
 float:left;
 width:50%;
 padding:5px 0;
}
.foot-social-btns {
 display:none;
 float:right;
 width:50%;
 text-align:right;
 padding:5px 0;
}
#ihk8 {
 background-image:linear-gradient(#202225,#202225);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
 height:100px;
}
#i4uq {
 display:inline;
 background-image:linear-gradient(#3ba55d,#3ba55d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
 color:#ffffff;
}
#im3w {
 width:1000px;
}
#iucyj {
 color:#ffffff;
}
#i1k85i {
 background-image:linear-gradient(#202225,#202225);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
 opacity:1;
 height:2px;
}
#i9hth5 {
 color:#ffffff;
 text-align:center;
 width:1150px;
 font-family:Comic Sans MS, cursive, sans-serif;
}
#i679oi {
 color:#000000;
 background-image:linear-gradient(#202225,#202225);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
 top:0;
}
#i031i {
 background-image:linear-gradient(#2f3136,#2f3136);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#is6i8 {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#ih5ys {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#izdhf {
 background-image:none;
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#i7cyo {
 font-family:Comic Sans MS, cursive, sans-serif;
 color:#ffffff;
}
#i1hw5 {
 color:#ffffff;
}
#iap6i {
 color:#ffffff;
}
#iiubu {
 color:#b3b3b3;
}
#ily8u {
 color:#ffffff;
}
#ij7a9 {
 color:#ffffff;
}
#i59el {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#ikpdw {
 color:#ffffff;
}
#i8nah {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#iiu9b {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#ie0yu {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#imy7q {
 color:#ffffff;
}
#ihd97 {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#i7crt {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#iziyvh {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#ivf6pz {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#iboh8h {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#icb13 {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#ie3s6 {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#ibmoe {
 background-image:linear-gradient(#72767d,#72767d);
 background-repeat:repeat;
 background-position:left top;
 background-attachment:scroll;
 background-size:auto;
}
#itlwe {
 color:#ffffff;
}
#ic6lh {
 color:#ffffff;
}
#is9am {
 color:#ffffff;
}
#ixq49 {
 color:#ffffff;
}
#i4oiaz {
 color:#ffffff;
}
#i65ydv {
 color:#ffffff;
}
#iphfa {
 color:#ffffff;
}
#i1tew9 {
 color:#ffffff;
}
#ieya6 {
 color:#ffffff;
}
#ixjgsj {
 color:#ffffff;
}
#i6ncv {
 color:#ffffff;
}
#il34s {
 color:#ffffff;
}
#i5jkzs {
 color:#ffffff;
}
#iom4fs {
 color:#ffffff;
}
#ip7mca {
 color:#ffffff;
}
#iis67g {
 color:#ffffff;
}
#ikdcvf {
 color:#ffffff;
}
