* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.clearfix {
    clear: both;
}

.container-width {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

.logo-container {
    float: left;
    width: 50%;
}

.logo {
    background-color: #fff;
    border-radius: 5px;
    width: 130px;
    padding: 10px;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
    color: #4d114f;
    font-size: 23px;
}

.flex-sect {
    background-color: #fafafa;
    padding: 100px 0;
    font-family: Comic Sans MS, cursive, sans-serif;
}

.flex-title {
    margin-bottom: 15px;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    color: #555;
    padding: 5px;
}

.flex-desc {
    margin-bottom: 55px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
}

.foot-social-btns {
    display: none;
    float: right;
    width: 50%;
    text-align: right;
    padding: 5px 0;
}

#iib1 {
    background-image: linear-gradient(#202225, #202225);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#i931b {
    color: #ffffff;
    font-size: 25px;
}

#ip1q {
    background-image: linear-gradient(#3ba55d, #3ba55d);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 25px;
    color: #ffffff;
    width: 295px;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
}

#im044 {
    background-image: linear-gradient(#2f3136, #2f3136);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
}

#iqiz1 {
    background-image: linear-gradient(#202225, #202225);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    padding-top: 10px;
}

#i1ouu {
    text-align: center;
    font-family: Comic Sans MS, cursive, sans-serif;
    color: #ffffff;
    font-size: 15px;
}

#im4vp {
    text-shadow: 0 0 0 black;
    color: #ffffff;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 20px;
}

#if3hp {
    padding: 10px;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
}
